{% extends "equipment/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
<body>
   <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">TCLI Inventory Manager</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<form class="form-inline mt-6 mt-md-0 col-lg-16" method="post" action="{% url 'equipment:equipment' %}">
			{% csrf_token %}
			<input id = "search" name = "search" onchange="this.form.submit()" size = "200" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		</form>
		<ul class="navbar-nav px-3">
		  <li class="nav-item text-nowrap">
			<a class="nav-link" href="{% url 'logout' %}">Sign out</a>
		  </li>
		</ul>
    </nav>
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		  <div class="sidebar-sticky pt-3">
			<ul class="nav flex-column">
			     <li class="nav-item">
					<a class="nav-link active" href="{% url 'index' %}">
					  <span data-feather="home"></span>
					  Home <span class="sr-only">(current)</span>
					</a>
			    </li>
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'inventory:inven' %}">
					  <span data-feather="home"></span>
					  Search Inventory <span class="sr-only">(current)</span>
					</a>
			    </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'inventory:items' %}">
					  <span data-feather="file"></span>
					  Create Inventory items
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'equipment:newmodel' %}">
					  <span data-feather="file"></span>
					  Add Equipment
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'locations:location' %}">
					  <span data-feather="users"></span>
					  Add Site locations
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">
					  <span data-feather="layers"></span>
					  Log out
					</a>
				 </li>
			 </ul>
		</div>
	</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	    <input type='hidden' id = 'm_id' value = "" name='m_id' data-select='inventory_id'/>
        <h2 class="text-center">Equipment List</h2>
		<div class="table-responsive" Method = "POST">
			 <table id = "table_id" class="table table-striped table-sm">
			    <thead>
					<tr>
					  <th>ID</th>
					  <th>Description</th>
					  <th>Category</th>
					  <th>Band</th>
					  <th>Model</th>
					  <th>Vendor</th>
					  <th>Status</th>
					</tr>
			    </thead>
				<tbody>
					{% for model in models %}
						<tr>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.id}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.description}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.category}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.band}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.model}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.vendor}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id">{{model.status}}</td>
						</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>                           
</body>
{% endblock %}

</html>
