{% extends "layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">TCLI Inventory Manager</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
		  <li class="nav-item text-nowrap">
			<a class="nav-link" href="{% url 'inventory:logout' %}"Sign out</a>
		  </li>
		</ul>
    </nav>
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		  <div class="sidebar-sticky pt-3">
			<ul class="nav flex-column">
			    <li class="nav-item">
					<a class="nav-link active" href="{% url 'inventory:index' %}">
					  <span data-feather="home"></span>
					  Search Inventory <span class="sr-only">(current)</span>
					</a>
			    </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'inventory:items' %}">
					  <span data-feather="file"></span>
					  Save/Modify Inventory
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'equipment:index' %}">
					  <span data-feather="file"></span>
					  Save/Modify Equipment
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'locations:index' %}">
					  <span data-feather="users"></span>
					  Save/Modify Site locations
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">
					  <span data-feather="layers"></span>
					  Sign out
					</a>
				 </li>
			 </ul>
		</div>
	</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h2 class="h2">New Ticket | INVENTORY ITEM NUMBER: {{inventory_id}}</h2>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button type="button" id = "share" class="btn btn-sm btn-outline-secondary">Share</button>
					<button type="button" id = "export" class="btn btn-sm btn-outline-secondary">Export</button>
				</div>
			</div>
		</div>
		<form>
			{% csfr_token %}
			<div class="row">
				<div class="col-sm-1 col-lg-6 grid-col">
					<div class="form-group">
						<label>Title: <span class="k-required">(Required)</span></label>
						<input id = "_title" input class="form-control" placeholder="Enter description">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-lg-2 grid-col">
					<label>Submitter: <span class="k-required">(Required)</span></label>
					<input type='hidden' name='pfunk' data-select='pfunk'/>
					<select id='_submitter' class="browser-default custom-select custom-select-lg mb-3" >
						<option selected>select menu</option>
						<option data-desc = 'submitter', data-val = "LaPosota,Edward">LaPosota,Edward</option>
						<option data-desc = 'submitter', data-val = "Denizard,John">Denizard,John</option>
						<option data-desc = 'submitter', data-val = "Veron,Oscar">Veron,Oscar</option>
						<option data-desc = 'submitter', data-val = "Ford,Michael">Ford,Michael</option>
					</select>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<label>Equipment <span class="k-required"></span></label>
					<input type='hidden' name='_equipment' data-select='_equipment'/>
					<select id='_equipment' class="browser-default custom-select custom-select-lg mb-3" >
						<option selected>select menu</option>
						<option data-desc = 'equipment', data-val = "modem">MODEM</option>
						<option data-desc = 'equipment', data-val = "buc">BUC</option>
						<option data-desc = 'equipment', data-val = "bdc">BDC</option>
						<option data-desc = 'equipment', data-val = "lna">LNA</option>
						<option data-desc = 'equipment', data-val = "lnb">LNB</option>
						<option data-desc = 'equipment', data-val = "amp">AMPLFIER</option>
						<option data-desc = 'equipment', data-val = "ant">ANTENNA</option>
						<option data-desc = 'equipment', data-val = "contr">CONTROLLER</option>
					</select>
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-1 col-lg-2 grid-col">
					<label>Priority: <span class="k-required">(Required)</span></label>
					<input type='hidden' name='pfunk' data-select='pfunk'/>
					<select id='_priority' class="browser-default custom-select custom-select-lg mb-3" >
						<option selected>select menu</option>
						<option data-desc = 'priority', data-val = "high">High</option>
						<option data-desc = 'priority', data-val = "medium">Medium</option>
						<option data-desc = 'priority', data-val = "low">Low</option>
					</select>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<label>Owner: <span class="k-required">(Required)</span></label>
					<input type='hidden' name='pfunk' data-select='pfunk'/>
					<select id='_owner' class="browser-default custom-select custom-select-lg mb-3" >
						<option selected>select menu</option>
						<option data-desc = 'owner', data-val = "LaPosota,Edward">LaPosota,Edward</option>
						<option data-desc = 'owner', data-val = "Denizard,John">Denizard,John</option>
						<option data-desc = 'owner', data-val = "Christopher,Michael">Christopher,Michael</option>
						<option data-desc = 'owner', data-val = "Brewer,Megan">Brewer,Megan</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 col-lg-2 grid-col">
					<label>Site<span class="k-required"></span></label>
					<input type='hidden' name='site' data-select='site'/>
					<select id='_site' class="browser-default custom-select custom-select-lg mb-3" >
						<option selected>select menu</option>
						<option data-desc = 'location', data-val = "speedcast">Speedcast Hauppauge" </option>
					</select>
				</div>	
				<div class="col-sm-1 col-lg-2 grid-col">
					<label>Shelf <span class="k-required"></span></label>
					<input type='hidden' name='pfunk2' data-select='pfunk2'/>
					<select id='_shelf' class="browser-default custom-select custom-select-lg mb-3" >
						<option selected>select menu</option>
						<option data-desc = 'shelf', data-val = "A1">A1</option>
						<option data-desc = 'shelf', data-val = "A2">A2</option>
						<option data-desc = 'shelf', data-val = "A3">A3</option>
						<option data-desc = 'shelf', data-val = "A4">A4</option>
						<option data-desc = 'shelf', data-val = "A5">A5</option>
						<option data-desc = 'shelf', data-val = "B1">B1</option>
						<option data-desc = 'shelf', data-val = "B2">B2</option>
						<option data-desc = 'shelf', data-val = "B3">B3</option>
						<option data-desc = 'shelf', data-val = "B4">B4</option>
						<option data-desc = 'shelf', data-val = "B5">B5</option>
						<option data-desc = 'shelf', data-val = "C1">C1</option>
						<option data-desc = 'shelf', data-val = "C2">C2</option>
						<option data-desc = 'shelf', data-val = "C3">C3</option>
						<option data-desc = 'shelf', data-val = "C4">C4</option>
						<option data-desc = 'shelf', data-val = "B5">C5</option>
						<option data-desc = 'shelf', data-val = "H1">H1</option>
						<option data-desc = 'shelf', data-val = "H2">H2</option>
						<option data-desc = 'shelf', data-val = "H3">H3</option>
						<option data-desc = 'shelf', data-val = "H4">H4</option>
						<option data-desc = 'shelf', data-val = "H5">H5</option>
						<option data-desc = 'shelf', data-val = "K1">K1</option>
						<option data-desc = 'shelf', data-val = "K2">K2</option>
						<option data-desc = 'shelf', data-val = "K3">K3</option>
						<option data-desc = 'shelf', data-val = "K4">K4</option>
						<option data-desc = 'shelf', data-val = "K5">K5</option>
						<option data-desc = 'shelf', data-val = "L1">L1</option>
						<option data-desc = 'shelf', data-val = "L2">L2</option>
						<option data-desc = 'shelf', data-val = "L3">L3</option>
						<option data-desc = 'shelf', data-val = "L4">L4</option>
						<option data-desc = 'shelf', data-val = "L5">L5</option>
					</select>
				</div>
			</div>
			<div class="row">	
				<div class="col-sm-3 col-lg-6 grid-col">
					<div class="form-group">
						<label>Summary: </label><br>
						<textarea id="txt_comments" name="txt_comments" rows="15" cols="74">
						</textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-lg-2 grid-col">
						<div class="form-group">
							<button id = "title" data-search="save"  class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>	
		</form>
	</main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="{% static 'inventory/css/bootstrap.css' %}"></script>
<script>window.jQuery || document.write('<script src="{% static 'inventory/js/jquery.slim.min.js' %}"><\/script>')</script><script src="{% static 'inventory/js/bootstrap.bundle.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js' %}"></script>
</body>
{% endblock %}

</html>
